
@{
    Layout = null;
}

<h3>Mvc Kamp Tablo Örneği - Kategori</h3>
<br />

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<br />
<table>
    <tr>
        <th>ID </th>
        <th>Adı </th>
        <th>Açıklama </th>
        <th>Durum </th>
    </tr>

    <tr>
        <td>1</td>
        <td>Eğitim </td>
        <td>Açıklama Yapıldı </td>
        <td>True</td>
    </tr>

    <tr>
        <td>2</td>
        <td>Spor </td>
        <td>Açıklama Yapıldı </td>
        <td>True</td>
    </tr>

</table>

<button class="btn btn-info">Yeni kategori</button>
    <button class="btn btn-warning">Kategori listesi</button>
    <button class="btn btn-danger">Kategori açıklamaları</button>